[submodule "kernel"]
	path = kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "network"]
	path = network
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP.git
[submodule "uzlib"]
	path = uzlib
	url = https://github.com/pfalcon/uzlib.git