/.settings/
/Debug/
/Release/
/CPM/.settings/language.settings.xml
/CPM/A.DSK
/CPM/A.DSK.md5
/CPM/A.UZ
/CPM/A.UZ.md5
/CPM/A.test
/CPM/A.test.md5
/CPM/BDOS.CIM
/CPM/BDOS.LST
/CPM/BIOS.CIM
/CPM/BIOS.LST
/CPM/BOOT.CIM
/CPM/BOOT.LST
/CPM/CCP.CIM
/CPM/CCP.LST
/CPM/CPM.SYS
/CPM/check
/CPM/md.1
/CPM/md.2
/CPM/test.x
